   
button {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.card-list{
  width: 100%;
}

.card{
  box-shadow: none;
  padding-bottom: none;
}

.JStableOuter table {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    display: block;
    text-align: center;
    height: 550px;
    overflow: auto;
    margin: 50px 0;
  }
  .JStableOuter { 
    max-width: 100%;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  /*thead*/
  .JStableOuter  thead {
    /*display: block;*/ /*seperates the header from the body allowing it to be positioned*/
    overflow: visible;
  }
  
  .JStableOuter  thead th {
    background-color: #A30023;
   /* min-width: 120px;*/
    height: 32px;
    padding: 3px 15px 0;
    font-size: 13px;
    vertical-align: top;
    position: relative;
    box-shadow: 0 1px 0px 1px #999;
    text-align: center;
    color: #fff;
  }
  .JStableOuter  thead th p { margin: 5px 0; font-weight: normal; }
  
  .tableOuter {
      max-width: 100%;
      overflow: auto;
   }
  .JStableOuter p { margin: 5px 0; }

  input{
    margin: 2% 5% 0;
    width: 20%;
  }

  form{
    display: flex;
    justify-content: flex-end;
  }

  .btns-left {
    float: left;
    text-align: left;
    margin: 2% auto 0 5%;
  }