.card-interpretado{
    min-height: 500px;
}

  table {
    margin: 5% auto;
    width: 40%;
    border: 1px solid #000;
    border-collapse: collapse;
  }

  th {
    width: 33%;
  }

  th{
      background-color: #A30023;
      color: #fff;
      border: .5px solid #fff;
    }
  td{
      background-color: #fff;
      font-size: 13px;
      color: #0082CE;
      border: .5px solid #bbb;
      text-align: center;
    }
       
  button {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
  }

footer{
    position: fixed;
}